

h1{
    background: blue;
    color: white;
}
.description{
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    margin-top: 250px;
    margin-left: 250px;
}
.homework{
    text-align: center;
    font-size: 24px;
    text-shadow: 7px 7px 0 rgb(0,255,127);
}


